
/* Normalize.css */

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

/* color */
:root {
    --body-bg: #fff;
    --base-text-color: #55606e;
    --btn-color: #fff;
    --green: #83c129;
    --dark-green: #518719;
    --blue: #068fd5;
    --dark-blue: #046b9f;
    --light-text-color: #fff;
    --nav-link-color: #fff;
    --soc-link-color: #fff;
    --gray-100: #d9dbdf;
    --gray-200: #8e959c;
}
body{
    font-family: 'Open Sans',Arial, Helvetica, sans-serif;
    color: var(--base-text-color);
}

/* main contenet */

.container{
    width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

/* .header{

} */

/* hero */
.hero{
    background: #333;
    height: 465px;
    position: relative;
    color: var(--light-text-color);
    text-align: center;
    padding: 60px 0;
}

.hero .bg-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero h1{
    font-size: 52px;
    margin: 0 0 30px;
}

.hero p {
    font-size: 22px;
    line-height: 1.636;
    max-width:675px;
    margin: 0 auto 50px;
}

.hero p strong{
    font-weight: 700;
}

.btn{
    display: inline-block;
    border-radius: 4px;
    line-height: 50px;
    color: var(--btn-color);
    font-weight: 600;
    font-size: 18px;
    line-height: 2.7778;
    padding: 0 55px;
    margin: 0 11px;
}

.btn--green{
    background-color: var(--green);
    box-shadow: 0 4px 0 var(--dark-green);
}
.btn--blue{
    background-color: var(--blue);
    box-shadow: 0 4px 0 var(--dark-blue);
}
  

.logo {
    margin: 19px 18px 14px 0;
}
.slogan {
    font: italic 16px "Times New Roman", Times, Georgia, serif;
    color: var(--gray-200);
}

.nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav a:hover{
    background-color: #13151a;
}
.nav a i {
    /* position: absolute;
    top: 21px;
    left: 24px; */
    font-size: 20px;
}
.nav li{
    border-left: 1px solid #2c323d;
}

.nav li:last-child{
    border-right: 1px solid #2c323d;
}
.nav a{
    display: block;
    line-height: 3.875;
    padding: 0 24px 0 53px;
    color: var(--nav-link-color);
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header nav{
    margin-left: auto;
}
.hero .container{
    position: relative;
    z-index: 2;
}
.header, .footer{
    background: #171a21 url('../images/bg-texture.jpg') repeat;
    color: var(--light-text-color);
}
/* main */
.main{
    background: var(--body-bg);
}

.blocks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blocks .block{
    width: 351px;
    margin-left: 43px;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid var(--gray-100);
}

.blocks .block:first-child{
    margin-left: 0;
}

.blocks img{
    vertical-align: top;
}

.blocks image{
    margin-bottom: 13px;
}

.blocks .person{
    display: flex;
}

.blocks .photo{
    width: 50px;
    margin-right: 10px;
    flex-shrink: 0;
}

.blocks .phrase{
    margin: 0 0 2px;
    font-weight: 600;
}

.blocks .info{
    color: var(--gray-200);
    font-size: 14px;
    margin: 0;
}

/* news */
.news{
    border-top: 2px solid var(--gray-100);
    border-bottom: 2px solid var(--gray-100);
    padding: 31px 0;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.news .one{
    display: flex;
    width: 352px;
    margin-left: 42px;
}

.news .one:first-child{
    margin-left: 0;
}

.news .img{
    width: 89px;
    flex-shrink: 0;
    margin-right: 24px;
}

.news .text{
    padding-top: 4px;
}

.news img{
    border-radius: 50%;
}

.news time{
    font-size: 14px;
    color: var(--gray-200);
}

.news p{
    margin: 4px 0 0;
}
.news p a{
    color: var(--base-text-color);
}
/* footer */

.footer{
    padding: 36px 0;
}



.footer-nav{
    display: flex;
}

.footer-nav .column{
    width: 136px;
}

.footer-nav .title{
    font-size: 12px;
    margin: 0 0 15px;
}

.footer ul{
    font-size: 12px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-nav ul li{
    margin-bottom: 7px;
}

.footer-nav a{
    color: var(--gray-200);
}

/* social */
.soc{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.soc li{
    margin-left: 20px;
}
.soc a{
    color: var(--soc-link-color);
    font-size: 20px;
}

.soc a:hover{
    text-decoration: none;
    color: var(--gray-200);
}

/* copyright */
.copyright{
    text-align: right;
    line-height: 1.6667;
    font-size: 12px;
    color: var(--gray-200);
}

.copyright a{
    color: var(--gray-200);
    margin-left: 8px;
}

.footer .container{
    display: flex;
    justify-content: space-between;
}
  